<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Y-ToDo</title>
</head>
<header>
  <nav class="navbar-mainbg ">
    <a class="navbar-brand navbar-logo" href="/">Y-ToDo</a>
      <ul class=" toDoSections ml-auto">
        <li class="">
          <a class="" href="/days"><i class="far fa-clone"></i>Days</a>
        </li>
        <li class="">
          <a class="" href="/work"><i class="far fa-calendar-alt"></i>Work</a>
        </li>
      </ul>
  </nav>
</header>
<main class="container">