<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Y-ToDo</title>
</head>
<body>
    <div class="container">
        <div class="add_task_box">
            <form action="/addDaysTask" method="POST">
                <input type="text" placeholder="Enter task here..." name="newtask" id="new-task-input" />
                <button type="submit" id="addNewTaskButton" >Add Task</button>
            </form>
        </div>
        <div class="taskListBox">
            <ul class="list-group list-group-flush">
                <% for (var i = 0; i < daysTasks.length; ++i) { %>
                    <li class="task"><button class="tickOffBtn"> ✔</button> <p class="taskName"><%= daysTasks[i] %></p</li>
                    <% } %>
            </ul>
        </div>
    </div>
    <script>
        let tickOffBtn = document.querySelectorAll(".tickOffBtn")
        let listItem = document.querySelectorAll(".taskName")

        function tickOffTask(index) {
            listItem[index].classList.toggle("checked")
            console.log("clicked")
          
        }
        for (let i = 0; i <tickOffBtn.length; i++) {
            tickOffBtn[i].addEventListener('click', () => tickOffTask(i))
        }
        //tickOffBtn.addEventListener('click', tickOffTask)
    </script>
</body>
</html>

<%- include("partials/footer.ejs") %>