<%- include("partials/header.ejs") %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y-ToDo</title>
</head>
<body>
    <div class="homePageContainer">
        <h1 class="homeTitle">Welcome to Y-ToDo</h1>
        <p class="homeDescription">Simple To-Do app made with Express JS and EJS</p>
        <p class="homeDescription">App has wo sections; day and work to suit your needs</p>
        <p class="homeDescription">Start using by clicking either <span class="speacialWord">Days</span> or <span class="speacialWord">Work</span> button on top right of the screen and make your day more productive</p>
    </div>
</body>
</html>

<%- include("partials/footer.ejs") %>